.container {
    display: flex;
    align-items: center;
    min-height: 24em;
    justify-content: center;
}

.item {
    flex: 1;
    text-align: center;
    font-family: monospace;
    font-size: 2rem;
    font-weight: 900;
}
